.App
{
  overflow-y:scroll;
}
.header-style{
background: #23074d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.body-style
{
 background: #23074d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cc5333, #23074d);
text-align: center;
position: -webkit-sticky;
top: 50;
left: 0;

width: 100%;
height: auto;
z-index: 1;



}
.avatar-style
{
  
  height: 250px;
  padding-top: 5em;
}
.banner-style
{
  background-color: black;
  opacity: .8 ;
  width: 70%;
  margin: 0px auto;
  border-radius: 10px;
  
   
}
.banner-style h1
{
  font-size: 60px;
  font-weight: bold;
  color: white;
  overflow-wrap: break-word;
}
.banner-style hr
{
  border-top:5px dotted white;
  width: 50%;
  margin: 0px auto;
}
.banner-style p{
  color:wheat;
  font-size: 20px;
  padding: 1em;
  
  overflow-wrap: break-word;

}
.social-style
{
 
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0px auto;
  
  
  
}

.social-style i
{
   color: wheat;
   font-size: 5em;
   padding: 8px;
    
    
}
.social-style :hover
{
background:rgb(219, 15, 219);
opacity: .7;
}

