.Appa
{
  height: 100%;
  width: 100%;
  position: absolute;
  
  
}



.header-style{


background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

float: left;

}

.body-style
{
 /* background: #23074d;   
background: -webkit-linear-gradient(to right, #cc5333, #23074d); */
background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


text-align: center;
position: relative;



}
.avatar-style
{
  
  height: 400px;
  padding-top: 5em;
}
.img-style :hover
{
  
color: black;
opacity: .8;
}
.banner-style
{
  background-color: black;
  opacity: .8 ;
  width: 70%;
  margin: 0px auto;
  border-radius: 10px;
  
   z-index: 10;
}
.banner-style h1
{
  font-size: 60px;
  font-weight: bold;
  color: white;
  overflow-wrap: break-word;
}
.banner-style hr
{
  border-top:5px dotted white;
  width: 50%;
  margin: 0px auto;
}
.banner-style p{
  color:wheat;
  font-size: 20px;
  padding: 1em;
  
  overflow-wrap: break-word;

}
.social-style
{
 
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0px auto;
  
  
  
}

.social-style i
{
   color: wheat;
   font-size: 5em;
   padding: 8px;
    
    
}
.social-style :hover
{
background:black;
opacity: .7;
}


.catagory-tabs
{
 background: gray;
  height: 100%;
  width: 100%;
}

.drawer-style
{
    background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100%;
    width: 100%;

}
.contactPage-style
{
 
  background :grey;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  justify-content: center;
  padding-top: 4em;
}
.grid-style
{
justify-content: center;
text-align: center;
width:80%;
height:auto;
background: rgb(223, 219, 219);
color:black;
border:2px solid rgb(255, 72, 72);
overflow-wrap: break-word;
}
.grid-style h2
{
  font-family: 'Anton', sans-serif;
}
.grid-style h1
{
  font-size: medium;
  font-family: 'Oxygen', sans-serif;
  font-weight: bolder;
}
.grid-style hr{
  border-top: dotted 5px black;
  width:50%;
  margin:auto;
}
.list-style i
{
  font-size: 30px;
  padding-right: 5rem;
  overflow-wrap: break-word;
}